<div class="tweet-form-container">
<div class="followers-following">
  <div class="followers">
    <h4>Your Followers (<%= current_user.followers_count %>)</h4>
    <ul>
      <% current_user.followers.each do |follower| %>
        <li><%= follower.email %></li>
      <% end %>
    </ul>
  </div>
  <div class="following">
    <h4>You Following (<%= current_user.followees_count %>)</h4>
    <ul>
      <% current_user.followees.each do |followee| %>
        <li><%= followee.email %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<div class="tweet-form-container">
<h3 class="section-header"><strong>Available Users</strong></h3>
<div class="user-list">
  <% @user.each do |user| %>
    <% next if user == current_user %>
    <div class="user-card">
      <div class="user-info">
        <p class="user-email"><strong><%= user.email %></strong></p>
          <% if current_user.followees.include?(user) %>
            <%= button_to "Unfollow", unfollow_user_path(user), method: :post, class: "btn btn-danger btn-sm" %>
          <% else %>
            <%= button_to "Follow", follow_user_path(user), method: :post, class: "btn btn-success btn-sm" %>
          <% end %>
        <div class="follow-info">
          <div class="followers">
            <p>Followers <%= user.followers_count %></p>
            <ul class="email-list">
              <% follower_emails = user.followers.pluck(:email) %>
              <% follower_emails.each do |email| %>
                <li><%= email %></li>
              <% end %>
            </ul>
          </div>
          <div class="following">
            <p>Following <%= user.followees_count %></p>
            <ul class="email-list">
              <% followees_emails = user.followees.pluck(:email) %>
              <% followees_emails.each do |email| %>
                <li><%= email %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
</div>

<div class="tweet-form-container">
  <h3 class="section-header"><strong>What's on your mind?</strong></h3>
  <%= render partial: 'tweet_form', locals: { tweet: @tweet } %>
</div>

<div class="tweet-form-container">
<h3 class="section-header"><strong>All Tweets</strong></h3>
<div class="tweets-container">
  <% @tweets.each do |tweet| %>
    <div class="tweet-card">
      <p class="tweet-content"><%= tweet.content %></p>
      <p class="tweet-info"><strong>Posted By:</strong> <%= tweet.user.email %></p>
      <p class="tweet-info"><strong>At:</strong> <%= tweet.updated_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
      <div class="actions">
      <% if can?(:edit, tweet) %>
        <%= link_to "", edit_user_tweet_path(tweet.user, tweet), class: "btn btn-primary btn-sm fa fa-pencil" %>
      <% end %>
      <% if can?(:destroy, tweet) %>
        <%= button_to "", user_tweet_path(tweet.user, tweet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm fa fa-trash-o" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>